parameters:
  fileExtensions:
      - php
      - module
      - install
      - theme
  paths:
    - ./public/modules/custom
    - ./public/themes/custom
  excludePaths:
    - vendor
  level: 3
  treatPhpDocTypesAsCertain: false
  drupal:
    entityMapping:
      global_menu:
        class: Drupal\helfi_global_navigation\Entity\GlobalMenu
        storage: Drupal\helfi_global_navigation\Entity\Storage\GlobalMenuStorage
