{% for row in rows %}
  {# Created date and modified date #}
  {% set published_at = row.published_at.value  %}
  {% if published_at is not empty %}
    {% set html_published_at  %}
      <time datetime="{{ published_at|format_date('custom', 'Y-m-d') ~ 'T' ~ published_at|format_date('custom', 'H:i') }}" class="news-listing__datetime news-listing__datetime--published" {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>
        <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the node published timestamp'}) }}</span>
        {{ published_at|format_date('publication_date_format') }}
      </time>
    {% endset %}
  {% else %}
    {% set html_published_at = '-' %}
  {% endif %}

  {% set card_url = url('entity.node.canonical', {'node': row.id})['#markup'] %}

  {% set card_image_uri = row.field_main_image.entity.field_media_image.entity.uri.value %}
  {% set card_responsive_image = {
    '#theme': 'responsive_image',
    '#responsive_image_style_id': 'image__3_2',
    '#uri': card_image_uri,
    '#attributes': { alt: row.field_main_image.entity.field_media_image.alt },
  } %}

  {% embed '@hdbt/component/card.twig' with {
    card_modifier_class: 'news-listing__item',
    card_title_level: 'h3',
    card_title: row.title.value,
    card_image: card_responsive_image,
    card_url: card_url,
    card_metas: [
      {
        icon: 'clock',
        label: 'Published'|t({}, {'context': 'Label for news card published time'}),
        content: html_published_at
      },
    ],
  } %}
  {% endembed %}
{% endfor %}
