/* Main news feed ordering -view highlight. */
#views-form-ordered-news-list-ordered-news {
  table tbody tr {
    &:nth-child(-n+4) {
      background: rgba(46,160,67,0.1);
    }
  }
  table tbody tr:hover {
    &:nth-child(-n+3) {
      background: rgba(10, 80, 27, 0.1);
    }
  }
}

/* Main news article feed ordering -view highlight. */
#views-form-ordered-news-articles-list-ordered-news-articles {
  table tbody tr {
    &:nth-child(-n+3) {
      background: rgba(46,160,67,0.1);
    }
  }
  table tbody tr:hover {
    &:nth-child(-n+3) {
      background: rgba(10, 80, 27, 0.1);
    }
  }
}
