.component--latest-news .hds-button {
  .hel-icon {
    @include hover-link-arrow-transition;
    transform: scaleX(var(--lang-direction, 1));

    &:last-of-type:not(:first-of-type) {
      margin: 0;
      margin-inline-end: 8px;
    }
  }

  &:focus,
  &:hover {
    .hel-icon {
      transform: scaleX(var(--lang-direction, 1)) translateX($spacing-quarter);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }
  }
}
