.component {
  &__container {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  &--main-news {
    background-color: $color-fog-light;

    .news-listing {
      &__item {
        width: 100% !important;
      }

      &--card-teasers {
        display: grid;

        @include breakpoint($breakpoint-m) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &__medium-teaser {
        padding: 0 28px 0 0;

        &::before {
          display: none;
        }
      }

      h3 {
        text-decoration: underline;
      }
    }
  }

  &--main-articles {
    ul {
      display: grid;

      @include breakpoint($breakpoint-m) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    li {
      width: 100% !important;
    }

    .news-listing__content {
      border: none;

      span {
        display: none;
      }
    }
  }
}
