.component--top-news .news-listing__item {
  position: relative;
}

.component--top-news--news {
  .component__container {
    background-color: $color-fog-light;
    padding: $spacing-and-half $spacing-and-half $spacing-double;

    @include breakpoint($breakpoint-m) {
      padding: $spacing-double $spacing-double $spacing-triple;
    }
  }

  .component__title + .component__content {
    margin-top: 0;

    @include breakpoint($breakpoint-m) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: $spacing-double;
    }
  }

  .news-listing--medium-teasers {
    display: grid;
    margin-bottom: 0;
    margin-top: $spacing-and-half;

    @include breakpoint($breakpoint-m) {
      grid-column-gap: $spacing-and-half;
      grid-row-gap: $spacing-double;
      grid-template-columns: repeat(2, 1fr);
      margin-top: $spacing-triple;
    }
  }

  .news-listing__medium-teaser {
    padding: 0;

    &::before {
      display: none; // Hide the border from medium-teasers when they are in the top news container.
    }

    .news-listing__title {
      @include font('h4');
      text-decoration: underline;
    }

    .news-listing__datetime {
      margin-top: $spacing-half;
    }
  }
}
