{% set link_attributes = {
  'class': [
    'latest-news__link',
  ],
} %}
<div class="see-all-button">
  {% include '@hdbt/navigation/link-button.html.twig' with {
    type: 'primary',
    label: element['#title'],
    url: element['#url'],
    link_options: link_attributes,
  } %}
</div>
