// This implementation is very close to phasing component but not totally the same.
.table-of-contents--news-update {
  @include component-side-padding;
  --item-title-lineheight: #{1.5 * get-font-size('h4')};

  .table-of-contents__container {
    // Hide the border that the default TOC has on the left.
    border-inline-start: none;
  }

  .table-of-contents__title + .table-of-contents__content {
    padding-top: $spacing;
  }

  .table-of-contents__item {
    @include font('special.large_link');
    display: flex;
    flex-direction: column;
    padding-block: $spacing;
    padding-inline: $spacing;
    position: relative;

    @include breakpoint($breakpoint-m) {
      flex-direction: row;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      inset-inline-start: calc($spacing * 0.5);
      position: absolute;

      &:dir(rtl) {
        right: calc($spacing * 0.5);
      }
    }

    &::after {
      background-color: $color-black;
      height: calc(100% + $spacing-double + $spacing-half);
      top: -#{$spacing};
      transform: translateX(calc(var(--lang-direction) * -50%));
      width: 2px;
      z-index: 0;
    }

    &:first-of-type::after {
      height: 100%;
      top: calc($spacing + var(--item-title-lineheight) * 0.5);
    }

    &:last-of-type::after {
      height: calc($spacing + var(--item-title-lineheight) * 0.5);
    }

    &:only-child::after {
      display: none;
    }

    &::before {
      background-color: $color-white;
      border: 3px solid $color-black;
      border-radius: 50%;
      height: $spacing;
      top: calc($spacing + var(--item-title-lineheight) * 0.5);
      transform: translate(calc(var(--lang-direction) * -50%), -50%);
      width: $spacing;
      z-index: 1;
    }
  }

  time {
    padding-left: $spacing;

    @include breakpoint($breakpoint-m) {
      // Make sure that the TOC publish dates and the titles align vertically what ever the date is.
      flex: none;
      width: 110px;
    }

    &:dir(rtl) {
      padding-left: 0;
      padding-right: $spacing;
    }
  }

  .table-of-contents__link {
    margin-left: $spacing;

    @include breakpoint($breakpoint-m) {
      margin-left: $spacing-double;
    }

    &:dir(rtl) {
      margin-left: 0;
      margin-right: $spacing;

      @include breakpoint($breakpoint-m) {
        margin-right: $spacing-double;
      }
    }
  }
}
