<article>
  <div class="components components--computed components--helsinki-near-you-results">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--back-to-edit-link',
        ],
      }
    %}
      {% block component_content %}
        {% include '@hdbt/navigation/link-button.html.twig' with {
          type: 'supplementary',
          label: back_link_label,
          url: back_link_url,
          link_options: {'class': ['back-to-edit-link']},
        } %}
      {% endblock component_content %}
    {% endembed %}
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [ 'component--popular-services' ],
        component_title: 'Services close to you'|t({}, {'context': 'Services close to you block'}),
        component_description: 'Use the links to go to results based on your address.'|t({}, {'context': 'Services close to you block'}),
        component_content_class: 'popular-services',
      }
    %}
      {% block component_content %}
        {% for service_group in service_groups %}
          {% embed "@hdbt/misc/popular-service-item.twig" with { title: service_group.title } %}
            {% block links %}
              {% embed "@hdbt/misc/popular-service-links.twig" with { items: service_group.service_links } %}
                {% block link %}
                  {% set link_attributes = {
                    'class': [
                      'link__style--highlight',
                    ],
                  } %}
                  {{ link(item.link_label, item.link_url, link_attributes) }}
                {% endblock %}
              {% endembed %}
            {% endblock links %}
          {% endembed %}
        {% endfor %}
      {% endblock component_content %}
    {% endembed %}
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
        'component--full-width',
        'component--react-search',
        'component--event-list',
        'component--coordinates-based-event-list',
        ],
        component_title: 'Events near you'|trans({}, {'context': 'Helsinki near you'}),
        component_description: 'Browse events near you, sorted by their start time'|trans({}, {'context': 'Helsinki near you'}),
        component_content_class: 'event-list',
      }
    %}
      {% block component_content %}
        {# Hook React app to this div #}
        <div
          id="helfi-events-search"
          data-paragraph-id="helfi-coordinates-based-event-list"
        >
        </div>
        {# Indicate JS not enabled #}
        <noscript>
          <div class="event-list__javascript-disabled">
            {{ 'You must enable JavaScript in your browser for event list to work'|t }}
          </div>
        </noscript>
      {% endblock %}
    {% endembed %}
  </div>
</article>
