<article>
  <div class="components components--computed components--helsinki-near-you-events">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--react-search',
          'component--event-list',
          'component--full-width',
        ],
        component_title: 'Search for an event'|t({}, {'context': 'Helsinki near you events search'}),
        component_description: 'You can search for events by entering an address, topic, target group, location or time. The search shows results within two kilometres of the address.'|t({}, {'context': 'Helsinki near you events search'}),
      }
    %}
      {% block component_content %}
        {# Hook React app to this div #}
        {{ attach_library('hdbt/event-list') }}
        <div
          id="helfi-events-search"
          data-paragraph-id="helfi-coordinates-based-event-list"
        >
        </div>
        {# Indicate JS not enabled #}
        <noscript>
          <div class="event-list__javascript-disabled">
            {{ 'You must enable JavaScript in your browser for event list to work'|t }}
          </div>
        </noscript>
      {% endblock %}
    {% endembed %}

    {% include '@hdbt_subtheme/module/helfi-etusivu/helsinki-near-you-feedback-block.html.twig' %}
  </div>
</article>
