{% set cardAmount = num_items ? num_items : 10 %}
{% set cardModifierClass = num_items ? ' card--border' : '' %}

{% for i in range(1, cardAmount)%}
  <div class="card card--ghost card--ghost--no-image{{ cardModifierClass }}">
    <div class="card__image"></div>
    <div class="card__text">
      <div class="card__title"></div>
      <div class="card__description"></div>
    </div>
  </div>
{% endfor %}
