<article>
  <div class="components components--computed components--helsinki-near-you-roadworks">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--react-search',
          'component--event-list',
          'component--full-width',
        ],
        component_title: 'Street and park projects near you'|t({}, {'context': 'Helsinki near you'}),
      }
    %}
      {% block component_content %}
        {# Hook React app to this div #}
        {{ attach_library('hdbt/roadwork-list') }}
        <div
          id="helfi-roadworks-search"
          data-paragraph-id="helfi-coordinates-based-roadwork-list"
        >
        </div>
        {# Indicate JS not enabled #}
        <noscript>
          <div class="roadwork-list__javascript-disabled">
            {{ 'You must enable JavaScript in your browser for roadwork list to work'|t }}
          </div>
        </noscript>
      {% endblock %}
    {% endembed %}

    {% include '@hdbt_subtheme/module/helfi-etusivu/helsinki-near-you-feedback-block.html.twig' %}
  </div>
</article>
