<article>
  <div class="components components--computed components--helsinki-near-you-roadworks">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--react-search',
          'component--event-list',
          'component--full-width',
        ],
        component_title: 'Find roadworks near you'|t({}, {'context': 'Helsinki near you roadworks search'}),
        component_description: 'Browse roadworks near you or search for roadworks by location. The search shows results within 1 kilometer of the address.'|t({}, {'context': 'Helsinki near you roadworks search'}),
      }
    %}
      {% block component_content %}
        {{ roadwork_section }}
      {% endblock %}
    {% endembed %}

    {% include '@hdbt_subtheme/module/helfi-etusivu/helsinki-near-you-feedback-block.html.twig' %}
  </div>
</article>
