.component--graphics {
  max-width: 100%;
}

.graphics {
  @include breakpoint($breakpoint-l) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.graphics__text-container {
  @include font(body);

  @include breakpoint($breakpoint-l) {
    min-height: 300px; // This height is from design to align the text nicely with the illustration.
  }
}

.graphics__title {
  margin-top: 0;
}

.graphics__illustration-container {
  margin-top: $spacing-quadruple;

  @include breakpoint($breakpoint-l) {
    margin-top: 0;
  }
}

.graphics__illustration {
  @include image-defaults;
  max-width: 100%;
}

.page-title + article > .components--helsinki-near-you-results:first-child {
  margin-top: $spacing;
}

.helfi-etusivu-near-you-form__address-input {
  margin-top: $spacing-double;
}

.helfi-etusivu-near-you-form .helfi-search__submit-button {
  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-half;
  }
}

.event-list__see-all-button--near-you {
  margin-top: $spacing-and-half;
}

.helfi-etusivu-near-you-form__errors .hds-notification {
  margin-top: $spacing
}

.table-of-contents--helsinki-near-you-results .table-of-contents__container {
  max-width: 100%;
}