<article>
  <div class="components components--computed components--helsinki-near-you-feedback-page">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
        'component--gray-bg',
        'component--full-width',
      ],
        component_title: 'Search feedback near you'|t({}, {'context': 'Helsinki near you'}),
        component_description: 'Browse feedback near you or search for feedback by location.'|t({}, {'context': 'Helsinki near you'}),
      }
    %}
      {% block component_content %}
        {{ autosuggest_form }}
        {{ feedback }}
      {% endblock %}
    {% endembed %}
  </div>
</article>
