{% set feedback_banner_title = 'Send feedback on the Helsinki near you webpages!'|t({}, {'context': 'Helsinki near you'}) %}
{% set feedback_banner_desc = 'What do you think of these new webpages? We are currently developing them and would appreciate your thoughts and ideas.'|t({}, {'context': 'Helsinki near you'}) %}
{% set feedback_banner_link_text = 'Send feedback'|t({}, {'context': 'Helsinki near you'}) %}
{% if language.id %}
  {% set feedback_banner_link_url = 'https://yhteiso.hel.fi/activity/public/6/742?lang=' ~ language.id %}
{% else %}
  {% set feedback_banner_link_url = 'https://yhteiso.hel.fi/activity/public/6/742?lang=fi' %}
{% endif %}
<h2>{{ feedback_banner_title }}</h2>
{{ feedback_banner_desc }}
{{ link(feedback_banner_link_text, feedback_banner_link_url) }}
