<div class="form-notification form-notification--warning news-item-unpublish-hint is-hidden">
  <div class="form-notification__icon">
    {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'alert-circle-fill'} %}
  </div>
  <p class="form-notification__warning-text" data-warning-id="form-item--unpublish-hint">{{ message }}</p>
</div>
