.component--graphics {
  max-width: 100%;
}

.graphics {
  @include breakpoint($breakpoint-l) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.graphics__text-container {
  @include font(body);

  @include breakpoint($breakpoint-l) {
    min-height: 300px; // This height is from design to align the text nicely with the illustration.
  }
}

.graphics__title {
  margin-top: 0;
}

.graphics__illustration-container {
  margin-top: $spacing-quadruple;

  @include breakpoint($breakpoint-l) {
    margin-top: 0;
  }
}

.graphics__illustration {
  max-width: 100%;
}

.page-title + article > .components--helsinki-near-you-results:first-child {
  margin-top: $spacing;
}

.helfi-etusivu-near-you-form__address-input {
  margin-top: $spacing-double;
}

.helfi-etusivu-near-you-form .helfi-search__submit-button {
  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-half;
  }
}

.helfi-etusivu-autocomplete {
  position: relative;
  width: 100%;
}

.helfi-etusivu-autocomplete [data-autocomplete-live-region] {
  @include visually-hidden();
}

.helfi-etusivu-near-you-form__address-input [data-autocomplete-item-list] {
  border-color: $color-black-50;
  border-style: solid;
  border-top: none;
  border-width: 2px;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  position: absolute;
}

.helfi-etusivu-near-you-form__address-input [data-autocomplete-item] {
  background-color: $color-white;
  cursor: pointer;
  padding: $spacing;
}

.helfi-etusivu-near-you-form__address-input [data-autocomplete-item]:hover,
.helfi-etusivu-near-you-form__address-input [data-autocomplete-item]:focus,
.helfi-etusivu-near-you-form__address-input [data-autocomplete-item]:active {
  background-color: $color-bus-light;
}

.helfi-etusivu-near-you-form__address-input.loading {
  pointer-events: none;
}

.helfi-etusivu-near-you-form__address-input .loader {
  display: none;
}

.helfi-etusivu-near-you-form__address-input.loading .loader {
  display: block;
}
