{% if label %}
  <h2{{ title_attributes.addClass('sidebar_block_heading') }} {{ alternative_language ? create_attribute(({ 'lang': 'en', 'dir': 'ltr' })) }}>{{ label }}</h2>
{% endif %}
{% block content %}
  <div class="news-listing--sidebar">
    {{ content }}
  </div>
{% endblock %}
